<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head lang="en">
	<meta charset="utf-8">
	<title>AM自动化测试平台-接口用例管理</title>
	<link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
	<script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <style type="text/css">


        /*表格内容超长显示省略号*/
        .MHover{
                width:50px;
                white-space:nowrap; /*不换行*/
                text-overflow:ellipsis;/*超出部分用....代替  */
                overflow:hidden;/*超出隐藏*/
        }


        <!--div遮挡-->
        #back{
            display:none;
            POSITION:absolute;
            left:0;
            top:0;
            width:100%;
            height:100%;
            background-color:rgba(255,255,255,0.5); /*背景透明度*/
            filter:alpha(opacity=60)
        }




    </style>
    <script type="text/javascript" src="/static/js/jquery-3.2.1.min.js"></script>
    <script>
        <!--get document id object -->
        function $(id){
            return document.getElementById(id);
        }

        <!-- case input view or hidde-->
        var flag = 1
        function casebtn() {
            if(flag==0)
            {
                $("addCaseChild").style.display = "none";
                flag =1;
            }
            else
            {
                $("addCaseChild").style.display = "";
                flag =0;
            }
        };
    </script>
    <script>
        function setSelectVal(index,id){
            var selectArr = $(id).getElementsByTagName("option");
            selectArr[index].selected =true;
        }

        function openLogin(urlv,descv,edatav,eresultv,emethodv,caseid){

           $("eurl").value = urlv; /*url*/
           $("edesc").value = descv; /*描述/
           this.setSelectVal(emethodv,"emethod1");
           $("edata1").value =edatav;
           $("eresult").value = eresultv; /*预期结果*/
           $("mcaseid").value =caseid;
           document.getElementById("win").style.display=""; /*设置可见*/
           document.getElementById("back").style.display="";/*设置可见*/
        }
        function closeLogin(){
           document.getElementById("win").style.display="none";
           document.getElementById("back").style.display="none";
        }

    </script>


</head>
<body>
    <div class="container-fluid">
        <div id="row">
            <div class="col-sm-12">
                <label><a href="#">>>用例管理>>接口测试用例管理</a></label>

            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <!--add table to data -->
                <div>
                    <button class="btn btn-default btn-xs" type="button" name="addCase"  onclick="casebtn()">
                        <span class="glyphicon glyphicon-plus"></span> 增加用例
                    </button>

                </div>


                <!--views is case data -->
                <div>
                     <table  class="table table-striped table-hover table-condensed">
                        <thead>
                            <tr>
                                <th>接口描述</th>
                                <th>接口地址</th>
                                <th>方法</th>
                                <th>数据</th>
                                <th>预期</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for case in posts %}
                            <tr>
                                <td>
                                  <div class="MHover" title="{{case.ICaseDescription}}">{{case.ICaseDescription}}</div>
                                </td>
                                <td>
                                  <div class="MHover" title="{{case.ICaseURL}}">{{case.ICaseURL}}</div>
                                </td>
                                <td>{{case.ICaseMethod}}</td>
                                <td>
                                   <div class="MHover" title="{{case.ICase_Data}}">{{case.ICase_Data}}</div>
                                </td>
                                <td>
                                   <div class="MHover" title="{{case.ICase_ExResult}}">{{case.ICase_ExResult}}</div>
                                </td>
                                <td>

                                    <button class="btn btn-default btn-xs" id="ebtn{{case.id}}" name="dbtn" type="button" onclick="openLogin('{{case.ICaseURL}}','{{case.ICaseDescription}}','{{case.ICase_Data}}','{{case.ICase_ExResult}}','{{case.ICaseMethod}}','{{case.id}}')">
                                        <span class="glyphicon glyphicon-wrench"></span> 修改
                                    </button>
                                    <form id="deloredit" method="post">

                                        <button class="btn btn-default btn-xs" id="dbtn{{case.id}}" name="dbtn" type="submit" value="删除">
                                            <span class="glyphicon glyphicon-remove"></span> 删除
                                        </button>

                                        <input name="caseid" id="caseid" type="hidden" value="{{case.id}}"/>
                                        {%csrf_token%}
                                    </form>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                     </table>
                </div>
                <!--背景遮挡-->
                <div id=back style="display:none;POSITION:absolute;left:0;top:0;width:100%;height:100%;background-color:rgba(255,255,255,0.5);filter:alpha(opacity=60);"></div>
                <div id=win style="display:none; POSITION:absolute; left:50%; top:50%; width:500px; height:300px; margin-left:-300px; margin-top:-300px; border:4px solid lightblue; background-color:#edf; text-align:center;">
                    <div>
                        <div class="divtest" style="left:100%;width:100%;">
                            <label><a href="#">>>接口测试用例管理>>编辑测试用例</a></label>
                            <hr style="height:5px;border:none;border-top:5px groove skyblue;" />
                        </div>
                        <div class="divtest" style="margin:-5px 0px 0px 0px;">
                            <form class="form-horizontal" role="form" name="modiflyCase" method="POST" onsubmit="alert('提示消息:修改完成.')">
                                <input name="mcaseid" id="mcaseid" type="hidden">
                                <div class="divtest" style="margin:0px 0px 0px 17px;">
                                    <label>url:</label><input name="eurl" id="eurl" type="text"/>
                                    <label>描述:</label><input name="edesc" id="edesc" type="text"/>
                                    <br>
                                </div>
                                <div class="divtest" style="margin:10px 0px 0px 16px;">
                                    <label>方法:</label>
                                    <select name="emethod" id="emethod1">
                                        <option value="0">POST</option>
                                        <option value="1">GET</option>
                                    </select>
                                </div>
                                <div class="divtest" style="margin:10px 0px 0px 87px;">
                                    <label>类型:</label>
                                    <select name="etype" id="etype">
                                        <option value="0">HTTP</option>
                                        <option value="1">WebService</option>
                                    </select>
                                    <br>
                                </div>
                                <div class="divtest" style="margin:10px 0px 0px 15px;">
                                      <label>数据:</label>
                                      <textarea name="edata" id="edata1" class="dataarea"></textarea>
                                </div>
                                <div class="divtest" style="margin:10px 0px 0px 15px;">
                                      <label>预期:</label>
                                      <textarea name="eresult" id="eresult" class="dataarea"></textarea>
                                </div>
                                <div class="divtest" style="margin:3px 0px 0px 130px;">
                                    <input name="confirmCase" type="submit" value="确认修改" />
                                </div>
                                <div class="divtest" style="margin:3px 0px 0px 50px;">
                                    <input name="close" type="button" value="取消"  onclick="closeLogin()"/>
                                </div>
                                {%csrf_token%}
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>