{% extends "base.html" %}
{% block title%}AM测试平台－首页{% endblock %}
{% block content %}

<div id="load_content">
    <p>Phishing Phishing scams can be very elaborate, scammers send out emails to millions of internet addresses purporting to be from a financial institution, and requiring you to log in and confirm your details. The email looks authentic and contains a link that you need to click. If you happen to have an account at the bank featured in the scam then it's a very natural thing to click the link and login to "your" account except it's not your account or even your bank. It will be a website setup by the scammers to extract as much information from you as possible, Name, Address Credit card details, Bank login, Password, PIN number etc. Once they have these details it is very likely that will have access to your funds and in the worse case your identity. Avoid these scams by never clicking on a link in an email like these, Banks do not sent out emails requesting you login and confirm your details.</p>
</div>

{% endblock %}