<!DOCTYPE html>
<html>
<head lang="en">
   <meta charset="UTF-8">
    <title>Register-AM</title>

    <script src="https://cdn.bootcss.com/jquery/2.2.4/jquery.min.js"></script>
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.css">

    <style>

        .form{background: rgba(255,255,255,0.2);width:400px;margin:120px auto;}
        /*阴影*/
        .fa{display: inline-block;top: 27px;left: 6px;position: relative;color: #ccc;}
        input[type="text"],input[type="password"]{padding-left:26px;}
        .checkbox{padding-left:21px;}
    </style>

</head>
<body>
    <div class="container">
        <div class="form row">
            <div class="form-horizontal col-md-offset-3" id="login_form">
                <h3 class="form-title">Register User</h3>
                <div class="col-md-9">
                    <div class="form-group">
                        <i class="fa fa-user fa-lg"></i>
                        <input class="form-control required" type="text" placeholder="Username" id="username" name="username" autofocus="autofocus" maxlength="20"/>
                    </div>
                    <div class="form-group">
                            <i class="fa fa-lock fa-lg"></i>
                            <input class="form-control required" type="password" placeholder="Password" id="password" name="password" maxlength="20"/>
                    </div>
                    <div class="form-group">
                            <i class="fa fa-envelope-o fa-lg"></i>
                            <input class="form-control required" type="text" placeholder="E-mail" id="email" name="email" maxlength="32"/>

                    </div>
                    <div class="form-group col-md-offset-9">
                        <button  type="button" class="btn btn-success pull-right" id="submit">注册</button>
                    </div>
                    <div class="form-group col-md-offset-12">
                        <i class="fa fa-exclamation-triangle fa-lg" id="display_text"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        $("#submit").click(function(){
            if($("#username").val()!="" && $("#password").val()!="" && $("#email").val()!="")
            {
                if(username_validate($("#username").val()) && email_validate($("#email").val()))
                {
                    $.ajax({
                        url:'/user_register/',
                        type:'post',
                        data:{
                            'username':$("#username").val(),
                            'password':$("#password").val(),
                            'email':$("#email").val()
                        },
                        dataType:'json',
                        success:function(args){
                            if(args.res==1){
                                $("#display_text").html("注册成功;3秒后自动跳转到登录界面");
                                setTimeout(function(){
                                    window.location ="/";
                                },3000);

                            }else{
                                $("#display_text").html("用户名已被注册.");
                            };
                        },
                        error:function(data){
                            alert('error');
                        }
                    });
                }
            }
            else
            {
                alert("用户名、密码、EMail 不能为空。");
            }
        });


        //验证用户名
        function username_validate(username){
            var uname = /[a-zA-Z0-9]{4,20}/.test(username);
            if(!uname){
                $("#display_text").html("用户名不符合规则,应为4位以上，20位以下的字符或数字");
                return false;
            }else{
                return true;
            }
        };

        //验证邮箱
        function email_validate(email){
            var email_str =/^([a-zA-Z0-9_\.\-])+\@([a-zA-Z0-9])+(\.([a-zA-Z]{2,3}))+$/.test(email);
            if(!email_str){
                $("#display_text").html("邮件地址不符合规则,示例:email@163.com");
                return false;
            }else{
                return true;
            }
        };
    </script>

</body>
</html>