{% extends "base.html" %}
{% block title %}测试运行{% endblock %}
{% load staticfiles %}
{% block content %}
<div>
    <div class="row">
        <div class="col-lg-6">
            <label><a href="/run_test/">>>当前位置：测试执行</a></label>
        </div>

    </div>
    <div class="row">
        <div class="col-lg-10">
            <div class="btn-toolbar" role="toolbar">
                <div class="btn-group">
                    <button class="btn btn-success btn-xs" data-toggle="modal" data-target="#myModal" onclick="select_case()">
                        <span class="glyphicon glyphicon-plus " style="color: rgb(255, 255, 255);">添加</span>
                    </button>
                    <button class="btn btn-danger btn-xs" id="delete_data_btn">
                        <span class="glyphicon glyphicon-remove" style="color: rgb(255, 255, 255);">删除</span>
                    </button>
                </div>
                <div class="btn-group">
                    <button class="btn btn-info btn-xs" onclick="all_select_checkbox(1)">
                        <span class="glyphicon glyphicon-align-justify" style="color: rgb(255, 255, 255);"></span> 全选
                    </button>
                    <button class="btn btn-warning btn-xs" onclick="all_select_checkbox(0)">
                        <span class="glyphicon glyphicon-list" style="color: rgb(255, 255, 255);"></span> 取消
                    </button>
                </div>
                <div class="btn-group pull-right">
                    <button class="btn btn-success btn-xs" onclick="run_test()">
                        <span class="glyphicon glyphicon-play" style="color: rgb(255, 255, 255);"></span> 开始执行
                    </button>
                </div>
            </div>

        </div>

    </div>
    <br/>
    <div class="row">
        <div class="col-lg-10">
            <div style="overflow:scroll;">
            <table class="table table-bordered table-condensed table-hover" style="min-height:800px;">

                <thead>
                    <tr class="active">
                        <th style="width:39px">序号</th>
                        <th style="width:39px">选择</th>
                        <th>对象</th>
                        <th>状态</th>
                        <th>上次执行时间</th>
                    </tr>
                </thead>
                <tbody>
                    {% for case in posts %}
                        <tr>
                            <td>{{forloop.counter}}</td>
                            <td><input type="checkbox" name="chk_name" id="{{case.id}}"></td>
                            <td>{{case.IRunFiled1}}</td>
                            <td id="status{{case.id}}">{{case.IRunResult}}</td>
                            <td>{{case.IRunDateTime}}</td>

                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            </div>
        </div>
    </div>
    <div class="row">
       <div class="col-lg-10">
            <!-- 模态框（Modal） -->
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title" id="myModalLabel">选择测试对象</h4>
                        </div>
                        <div class="modal-body">
                            <div style="overflow:scroll;">
                                <table class="table table-bordered table-condensed table-hover" style="min-height:200px;">
                                    <thead>
                                        <tr class="active">
                                            <th style="width:39px;">序号</th>
                                            <th style="width:39px;">选择</th>
                                            <th>测试对象</th>
                                        </tr>
                                    </thead>
                                    <tbody id="tr_test_data"></tbody>
                                </table>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default pull-left" id="all_select">全选</button>
                            <button type="button" class="btn btn-default pull-left" id="cancel_select">取消选择</button>
                            <button type="button" class="btn btn-primary" id="confirm_select_btn">确认选择</button>
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal -->
            </div>
        </div>
    </div>
</div>

<script>
    //执行
    function run_test(){
        var dict = {};
        var i=0;
        var flag = 0;
        $("input[name='chk_name']").each(function(){
            if($(this).is(":checked")){
                flag+=1;
                $("#status"+($(this).prop('id'))).html('runing...');//
                dict['caseid'+i]=$(this).prop('id')
                i+=1;
                dict['counter']=i;

                //ajax
                $.ajax({
                    url:'',
                    type:'post',
                    data:dict,
                    dataType:'json',
                    success:function(args){
                        if(args.res==1){
                            $("#status"+($(this).prop('id'))).html('passed');
                        }else{
                            $("#status"+($(this).prop('id'))).html('failed');
                        }
                    },
                    error:function(args){
                        alert('ajax_error');
                    }

                });
            }
        });
        if(flag==0){
            alert("请勾选，要执行的对象!");
        };


    };

    //删除数据
    $("#delete_data_btn").click(function(){
        var dict = {};
        var i=0;
        $("input[name='chk_name']").each(function(){
            if($(this).is(":checked")){
                dict['caseid'+i]=$(this).prop('id')
                i+=1;
            }

        });
        dict['counter']=i;

        $.ajax({
            url:'/delete_run_data/',
            type:'post',
            data:dict,
            dataType:'json',
            success:function(args){
                //alert(args.res);
                window.location.reload();
                all_select_checkbox(0);
            },
            error:function(){
                alert('ajax_error!');
            }
        });
    });

</script>

<script>
    //确认选择绑定
    $("#confirm_select_btn").click(function(){
        //获取选择项
        var dict = {};
        var i=0
        $("input[name='ckb']").each(function(){
            if($(this).is(":checked")){
                dict['caseid'+i]=$(this).prop('id')
                i+=1;
            }

        });

        dict['counter']=i;
        //ajax
        $.ajax({
            url:'/insert_data/',
            type:'post',
            data:dict,
            dataType:'json',
            success:function(args){
                if(args.res==1){
                   window.location.reload();
                }else{
                   alert("测试对象，已存在于测试列表，请不要重复添加。");
                };

            },
            error:function(){
                alert("ajax_error.");
            }
        });

    });
</script>

<script>
    //chk_name选择和取消1全选 0取消选择
    function all_select_checkbox(index){
        $("input[name='chk_name']").each(function(){
            if(index==1){
                $(this).prop("checked",true);
            }else{
                $(this).prop("checked",false);
            }
        });
    };


    //全选
    $("#all_select").click(function(){
        $("input[name='ckb']").each(function(){
            $(this).prop("checked",true);
        });

    });
    //取消选择
    $("#cancel_select").click(function(){
        $("input[name='ckb']").each(function(){
            $(this).prop("checked",false)
        });
    });

    function td(content){
        return "<td>"+content+"</td>"
    };
    function tr(content){
        return "<tr>"+content+"</tr>"
    };

    //获取数据
    function select_case(){
        $.ajax({
            url:'/select_all_ajax/',
            type:'get',
            dataType:'json',
            success:function(args){
                var k = 1
                for(var key in args){
                    //alert(args[key].ICaseDescription);
                    var td_str = td_str + td(k);
                    td_str = td_str + td('<input type="checkbox" name="ckb" id="'+args[key].id+'">');
                    td_str = td_str + td(args[key].ICaseDescription);
                    k+=1;
                    var tmp = tmp + tr(td_str);
                    td_str = "";
                };
                $("#tr_test_data").html(tmp);

            },
            error:function(){
                alert('ajax_error.');
            }

        });
    };
</script>

{% endblock %}