{% extends "base.html" %}
{% block title %}测试用例管理{% endblock %}
{% block content %}

    <div class="container">
        <div class="form row">
            <div class="form-horizontal col-md-offset-3" id="login_form">
                <h3 class="form-title">修改密码</h3>
                <div class="col-md-4">
                    <div class="form-group">
                        <i class="fa fa-lock fa-lg"></i>
                        <input class="form-control required" type="password" placeholder="输入新密码" id="newpassword" name="newpassword" autofocus="autofocus" maxlength="20"/>
                    </div>
                    <div class="form-group">
                            <i class="fa fa-lock fa-lg"></i>
                            <input class="form-control required" type="password" placeholder="再次输入新密码" id="newpassword1" name="twonewpassword" maxlength="20"/>
                    </div>
                    <div class="form-group col-md-offset-6">
                        <i class="fa fa-exclamation-triangle fa-lg" id="display_text"></i>
                    </div>
                    <div class="form-group col-md-offset-9">
                        <button  type="button" class="btn btn-success pull-right" id="submit">重置</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <script>
        $("#submit").click(function(){
            if($("#newpassword").val()!="" && $("#newpassword1").val()!="")
            {
                if($("#newpassword").val()==$("#newpassword1").val())
                {
                    $.ajax({
                        url:'/reset_password/',
                        type:'post',
                        data:{'newpwd':$("#newpassword").val()},
                        dataType:'json',
                        success:function(args){
                            if(args.res==1){
                                $("#display_text").html("修改成功;3秒后自动跳转到登录界面");
                                setTimeout(function(){
                                    window.location ="/logout/";
                                },3000);

                            }else{
                                $("#display_text").html("新密码不能与原密码相同.");
                            };
                        },
                        error:function(data){
                            alert('error');
                        }
                    });
                }else{
                    $("#display_text").html("两次输的密码必须一致.");
                }
            }
            else
            {
                $("#display_text").html("密码不能为空.");
            }
        });

    </script>

{% endblock %}


